nav{
  background-color: rgba(160, 77, 38, 0.705);
}

.flex{
  display: flex;
  justify-content: space-between;
}
.knopka{
  width: 70px;
  height: 50px;
}
.navi{
  background-color: black;
}
.hachi-maru-pop-regular, li,ul,p,h1,h2, .nav-link{
  font-family: "Pangolin", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;

}
.img{
  width: 110px;
  height: 90px;
}
.zadnik{
  background-image: url(img/zadnik.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
 
}


.accordion, .accordion-button, .accordion-body{
  border-radius: 50px;
  font-size: 20px;
}
.fotki{
  width: 700px;
  height: 700px;
  margin: 80px  168px;
  border-radius: 80px;
}
.obvodka{
background-image: url(img/freepik__upload__46114.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
width: 100%;
height: 870px;
border: 8px solid rgba(247, 179, 77, 0.842);

}
.info{
  padding: 90px;
  font-size: 30px;

}
.text{
  font-size: 20px; 
}
main{
width: 100%;
background-image: url(img/freepik__adjust__5640.png);
/* background-image: url(img/freepik__upload__46114.png); */
/* background-color: rgba(153, 77, 41, 0.842); */
background-repeat: no-repeat;
background-size: cover;
display: flex;
height: 870px;
border: 8px solid rgba(247, 179, 77, 0.76);
}


.harry{
  margin: 397px 100px;
  width: 600px;
  height: 600px;

}

.bymaga{
  margin: 137px 100px;
  width:700px;
  height: 600px;
}
.infirmation{
  margin: -649px 268px;
  width: 400px;
  height: 100px;
  line-height: 46px;
}
.infirmation h1{
  font-size: 34px;
}
.infirmation p{
  font-size: 26px;
}
.menu{
  width: 100%;
  height: 870px;
  border: 8px solid rgba(247, 179, 77, 0.76);
}
.menu h1{
  text-align: center;
  font-size: 50px;
  margin-top: 120px;
}
.card{
  width: 600px;
  height: 600px;
  margin: 20px;
  border-radius: 20px;
}
.card>img{
  width: 600px;
  height: 300px;
}
.silka{
  font-size: 30px;
  text-decoration: none;
}
.hidden {
  display: none !important;
}


/**/
.right{
 
 border-radius: 30%;
  width: 1000px;
  height: 800px;
  margin-top: 30px;
}
.right>h1{
  font-size:70px;
  color: white;
}
body { 
  font-family: Arial, sans-serif; 
  text-align: center; }
#game { 
  display: none;
  color: white;
}
#loss, #win { 
  display: none; 
  color: white;
}
#timer { 
  font-size: 24px; 
  color: rgb(255, 255, 255); } 

body {
  background: #8acdeb;
}
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.steam {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
 bottom: -66px;
 left: 500px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

@keyframes steam1 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(-20px) scale(1); opacity: 0;}
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

@keyframes steam2 {
  0% {transform: translateY(0) translateX(0) scale(0.25); opacity: 0.2;}
  100% {transform: translateY(-200px) translateX(20px) scale(1); opacity: 0;}
}

#cup {
  z-index: -1;
}

#cup-body {
  position: absolute;
  top: 50%;
  height: 200px;
  width: 300px;
  border-radius: 0 0 150px 150px;
  background-color: #c24242f8;
  margin: 169px 202px;
  display: inline-block;
  overflow: hidden;
  z-index: 2;
  box-shadow: 10px 10px 10px black;
}

#cup-shade {
  position: relative;
  height: 300px;
  width: 200px;
  background-color:  #882b2bcb;
  display: inline-block;
  margin-left: 42%;
  margin-top: -3px;
  transform: rotate(50deg);
  z-index: -1;
 

}

#cup-handle {
  position: relative;
  height: 75px;
  width: 80px;
  border-radius: 0 150px 150px 0;
  border: 15px solid #c24242e7;
 margin: 169px 202px;
  display: inline-block;
  z-index: -1;
  bottom: -227px;
  left: 110%;  
  box-shadow: 10px 10px 10px black;
}
#saucer {
  position: relative;
  height: 30px;
  width: 300px;  
  border-radius: 0 0 100px 100px;
  background-color: #c24242;
  bottom: -158px;
  left: 93%;  
  z-index: 2;
  box-shadow: 10px 10px 10px black;
}
.button{
  width: 300px;
  border-radius:50px ;
  z-index: 2;
  padding: 10px;
}